@use "../../../styles/config" as *;

.events-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: $border-radius;
  color: $dark-color;
  align-items: center;
  letter-spacing: 0.5px;

  h1 {
    font-weight: 444;
  }
  
  .button-container {
    display: flex;
    gap: 15px;
  }
}


