$max-width: 1250px;
$border-radius: 7.5px;
$main-color: rgb(34, 152, 255);
$main-hover: rgb(7, 139, 255);
// $event-box-color: rgb(232, 244, 255);
$event-box-color: rgb(245, 250, 255);
$dark-color: rgb(26, 26, 26);
$light-color: #fff;
$alt-dark-color: rgb(174, 174, 174);
$alt-light-color: rgb(241, 241, 241);
$transparent-bg: rgba(26, 26, 26, 0.152);