.event-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: fit-content;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.event-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: gray;
  flex: 0 0 calc(25% - 20px);
  margin: 5px 10px;
  padding: 7.5px;
  border-radius: var(--border-radius);
  overflow-x: hidden;
}

.event-photo {
  aspect-ratio: 16/9;
  background-color: blue;
  height: 40%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.event-title {
  font-size: 14px;
  padding-left: 2.5px;
  white-space: nowrap;
  width: 100%;
  cursor: default;
}

.event-title:global(.scrollable):hover {
  animation: scroll 3s linear infinite;
}

/* .event-title.scrollable:hover {
} */

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.event-box > hr {
  margin: 0 2.5px;
  border: 1px solid var(--main-color);
}

.event-description {
  margin: 0 5px;
  font-size: 12px;
}
