.invisible-div {
  visibility: hidden;
}

.nav-bar {
  width: 100%;
  max-width: 100%;
  background-color: var(--main-color);
  z-index: 100;
  /* height: fit-content; */
  height: 70px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-control {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-control > .nav-button {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.nav-control > .nav-button:hover {
  background-color: rgb(194, 148, 31);
}

.nav-control > .nav-account {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  margin: 0 25px;
  color: white;
  transition: 0.1s ease-in-out;
}

.nav-control > .nav-account:hover {
  transform: scale(1.15);
  transition: 0.1s ease-in-out;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.searchinput {
  font-size: 20px;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  background-color: rgb(240, 240, 240);
  padding: 8px 0 8px 25px;
}

.searchbar:focus, .searchinput:focus {
  outline: transparent;
}

.searchicon {
  position: absolute;
  left: 5px;
  color: gray;
}

/* Standard */
.searchinput::placeholder {
  color: gray;
}