@use "../../../styles/config" as *;

/** main page */
.auth-page {
  font-size: 1.25em;
}

/** form container */
.auth-form {
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  background-color: $light-color;
  border-radius: $border-radius;
  border: 0.5px $alt-dark-color solid;
  width: 20em;

  .register-container,
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: $border-radius;
    width: 100%;
    gap: 1em;
    padding: 1rem 2rem;

    > hr {
      width: 100%;
      border-color: $dark-color;
    }
  }

  span {
    font-size: 0.8em;

    a {
      text-decoration: none;
      color: $main-color;

      &:hover {
        color: $main-color;
      }
    }
  }
}

/** form title */
.auth-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h1 {
    font-weight: 333;
  }

  hr {
    margin-top: 0.5em;
  }
}

/** form input group */
.input-group {
  position: relative;
  width: 100%;
  padding: 0 0.25em;

  /** form input */
  .auth-input {
    box-sizing: border-box;
    padding: 0.5em;
    color: $dark-color;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    background-color: transparent !important;
    border: 2px solid $main-color;
    border-radius: $border-radius;
    outline: none;
    font-size: 0.8em;
    transition: all 0.3s;

    &::placeholder {
      color: transparent;
    }

    /** override default input/focus/hover styles */
    &:focus {
      box-shadow: none;
      outline: none;
    }

    /** override default input/focus/hover styles */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $dark-color;
      -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
      box-shadow: 0 0 0px 1000px $light-color inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .auth-label {
    display: block;
    width: fit-content;
    position: absolute;
    padding: 0 0.4em;
    font-weight: 333;
    background-color: $light-color;
    color: $dark-color;
    transform: translate(0.2em, -1.55em);
    border-radius: $border-radius;
    transition: all 0.3s;
  }
}

/** move auth-label to input container's border */
.auth-input:focus + .auth-label,
.auth-input:not(:placeholder-shown) + .auth-label {
  transform: translateY(-2.6em) scale(0.8);
}

/** side-by-side form input group */
.double-input {
  display: flex;
  width: calc(100% - 0.5em);
  flex-wrap: wrap;
  gap: 1em;

  .input-group {
    flex-basis: calc(50% - 0.5em);
    padding: 0;
  }
}

/** popup box showing valid inputes */
.input-instructions {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $event-box-color;
  color: $dark-color;
  border-radius: $border-radius;
  border: 0.5px $main-color solid;
  font-size: 0.8em;
  margin: 0.5rem 0;
  padding: 0.5em 1em 0.5em 1.5em;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}

/** Footer contains submit button */
.auth-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5em;

  // span {
  //   &:first-child {
  //     position: relative;
  //     width: 100%;
  //     text-align: center;
  //     background-color: $light-color;
  //   }

  //   &:first-child::before {
  //     content: "";
  //     width: calc(50% - 1em);
  //     border: 0.5px $main-color solid;
  //     position: absolute;
  //     left: 0;
  //     top: 50%;
  //   }

  //   &:first-child::after {
  //     content: "";
  //     width: calc(50% - 1em);
  //     border: 0.5px $main-color solid;
  //     background: $main-color;
  //     position: absolute;
  //     right: 0;
  //     top: 50%;
  //   }
  // }
}

.submit-container {
  display: flex;
  justify-content: center;
  width: calc(100% - 0.5em);
  gap: 1em;
}

/** next-auth provider signin (google, github, etc.) */
.next-auth {
  height: 1.75em;
  width: 1.75em;
}

/** submit-button */
.auth-submit {
  width: 100%;
  background-color: $event-box-color;
  padding: 0.25em 0;
  text-align: center;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $main-color;
    transform: scale(1.05);
    transition: 0.3s ease;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &:disabled,
  &:disabled:hover {
    opacity: 0.4;
    transform: none;
    transition: none;
    cursor: default;
    background-color: $alt-light-color;
    color: $dark-color;
  }

  &:active {
    transform: scale(95%);
  }
}