.events-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--border-radius);
  color: var(--dark-color);
  align-items: center;
  letter-spacing: 0.5px;
}

.events-control h1 {
  font-weight: 444;
}

.button-container {
  display: flex;
  gap: 15px;
}
