/** SideBar container */
.side-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  height: fit-content;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  border: 0.5px var(--alt-dark-color) solid;
  padding: 0.5em 1em 1em 1em;
}

.side-bar h1 {
  align-self: center;
  color: var(--dark-color);
  border-radius: var(--border-radius);
}

.type-container {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  color: var(--light-color);
  border-radius: var(--border-radius);
}

.side-bar-title {
  font-weight: 333;
}

.type-container hr {
  margin: 0.25em 0;
}

.selected {
  background-color: var(--main-color);
}